.centering {
    text-align: center;
    margin: 0 auto;
    transform: translateY(30%);
}

.header-container {
    width: 100vw;
    height: 10vh;
    background-color: rgb(62, 102, 233);
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}

.header-text {
    width: "50%";
    height: "50%";
    text-align: center;
}

.header-image {
    height: 10vh;
    width: auto;
}

.side-container {
    width: 10vw;
    height: 85vh;
    /* background-color: rgb(26, 35, 117); */
    text-align: center;
}

.side-text {
    font-size: 20;
    font-family: "Arial";
    width: "50%";
    height: "50%";
    /* color: white; */
}

.side-social-container {
    margin-top: 5vh;
}

.side-social-logo {
    width: 4vw;
}

.body-container {
    display: flex;
    padding-top: 5px;
}

.body-content {
    width: 90vw;
    height: 85vh;
}

.home-container {
    background-image: url("./assets/images/world-map.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-hover-container {
    width: 60vw;
    height: 50vh;
    background-color: rgba(245, 245, 245, 0.596);
    border-radius: 2%;
}

.home-hover-info {
    /* background-color: blue; */
    width: 40vw;
    height: 20vh;
    transform: translateY(50%);
}

.home-hover-info-welcome {
    font-size: 1.5vw;
    font-family: Lucida Calligraphy;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(94, 90, 90);
    margin: 1em 0;
    padding: 0;
}

.home-hover-button {
    height: 8vh;
    width: 15vw;
    border-width: 1px;
    border-color: rgb(15, 9, 104);
    background-color: rgb(71, 63, 187);
    border-style: solid;
    border-radius: 5%;
    margin-top: 5px;
    cursor: pointer;
    font-family: Arial;
}

.home-hover-button:hover {
    background-color: rgb(31, 22, 165);
    color: white;
}

.card-container {
    width: 35vw;
    background-color: rgba(202, 202, 202, 0.685);
    cursor: pointer;
    border-radius: 5%;
}

.card-title {
    height: 7vh;
    width: 35vw;
    font-family: Arial Bold, Helvetica, sans-serif;
    font-size: 1.25vw;
    word-break: break-all;
}

.card-image {
    height: 25vh;
    width: 35vw;
}

.card-description {
    width: 35vw;
    word-break: break-all;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
}

.card-image-dimensions {
    height: 24vh;
    width: 30vw;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 5vw;
    grid-row-gap: 5vh;
    transform: translateY(5%);
}

.newsview-container {
    transform: translateY(3%);
    height: 130vh;
}

.newsview-title-container {
    width: 90vw;
}

.newsview-title-text {
    font-family: Verdana Pro Bold;
    font-size: 3vw;
}

.newsview-lede-container {
    width: 90vw;
    text-align: left;
}

.newsview-lede-text {
    font-family: Arial;
    font-size: 2vw;
    color: rgb(58, 58, 58);
}

.newsview-redaction-container {
    height: 5vh;
    width: 25vw;
    margin-left: 5px;
}

.newsview-redaction-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    color: rgb(114, 112, 112);
    text-align: left;
}

.newsview-img-container {
    width: 90vw;
}

.newsview-img-dimensions {
    width: 50vw;
    height: auto;
}

.newsview-body-container {
    width: 90vw;
}

.newsview-body-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-align: justify;
}

.newsview-footer-container {
    height: 10vh;
    width: 90vw;
}

.newsform-container {
    width: 90vw;
    margin-left: 5px;
    transform: translateY(5%)
}

.newsform-label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}

input[type=text],
select {
    width: 50vw;
    height: 10vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50vw;
    background-color: rgb(92, 83, 211);
    color: rgb(189, 189, 189);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1f1d96;
}