#questionsForm {
  margin-top: 5vh;
}
/* Header */
.header,
.questionHeader {
  list-style-type: none;
  margin: 13% 20%;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  font-size: 25px;
}

.questionHeader {
  margin: 5% 20%;
}

input[type="text"] {
  width: 70%;
  line-height: 5vh;
  font-size: medium;
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: none;
  border: rgba(128, 128, 128, 0.486) 1px solid;
  text-align: justify;
}

.questionLabel {
  padding: 10px;
}

.divBtns button {
  margin: 20px 20px;
  padding: 15px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: medium;
  cursor: pointer;
  box-shadow: 4px 4px 1px rgba(187, 186, 186, 0.24);
}

.divBtns button:hover {
  margin: 20px 20px;
  padding: 15px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: medium;
  box-shadow: 3px 3px 1px rgba(187, 186, 186, 0.603);
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

h1 {
  float: center;
  display: block;
  color: white;
  text-align: center;
  padding: 7px;
}
.center {
  text-align: center;
  margin: auto;
}

/* Index Buttons */
.divButtons {
  position: relative;
}

.divBtn {
  position: relative;
}
.btn {
  margin: 20px 10%;
  padding: 20px 30px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  color: rgb(76, 241, 76);
  font-size: 20px;
  border: 2px solid rgb(22, 180, 101);
  /* -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9); */
  box-shadow: 4px 4px rgba(102, 255, 31, 0.4);
  /* transition: transform 0.2s cubic-bezier(0.34, 1.65, 0.88, 0.925) 0s; */
  outline: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgb(76, 241, 76);
}

.answers {
  text-decoration: none;
  color: white;
  margin: 5px;
  width: 45%;
  display: inline-block;
  padding: 20px;
  font-size: 35px;
  background-color: rgba(247, 137, 64, 0.801);
}
.btn.a:hover {
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  transition: 0s linear;
  font-size: 35px;
  background-color: rgb(33, 132, 149);
  border: none;
  box-shadow: 5px 5px 1px rgba(33, 132, 149, 0.329);
  text-decoration: none;
  position: relative;
}

.btn.b:hover {
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  transition: transform 0s linear;
  font-size: 35px;
  background-color: rgb(204, 25, 144);
  border: none;
  box-shadow: 5px 5px 1px rgba(204, 25, 144, 0.329);
  text-decoration: none;
  position: relative;
}

/* Rain */
.rainDrops {
  background-color: rgb(85, 187, 255);
  position: absolute;
  width: 2px;
  height: 6px;
}

/* AddQuestions */

.addQuestionsForm {
  background-color: rgba(174, 174, 174, 0.24);
  min-height: 560px;
  width: 70%;
  margin: 40px auto;
  padding: 20px;
}

#addQuestionsForm input {
  width: 70%;
  height: 20px;
  margin: 15px;
  font-size: 15px;
}

#addQuestionsForm button {
  font-size: 15px;
}
